<div {{on "click" this.onClick}} {{on "mouseenter" this.onMouseEnter}}>
  {{#link-to
    params=linkArgs
    class=(concat
      "block py-2 px-3 text-black no-underline hover:bg-gray-1 "
      (if selected "bg-gray-1")
    )
  }}
    <div class="flex items-center">
      {{svg-jar icon height=28 width=28 class="mr-2 flex-no-shrink"}}
      <span class="truncate">
        {{#if titleMatchesQuery}}
          {{{highlightedTitle}}}
        {{else}}
          {{result.document.title}}
        {{/if}}
      </span>
    </div>
    {{#if (not titleMatchesQuery)}}
      <small class="inline-block text-gray-5">
        {{{bestMatch}}}
      </small>
    {{/if}}
  {{/link-to}}
</div>