{{#modal-dialog
  tetherTarget="[data-version-selector]"
  attachment="top right"
  clickOutsideToClose=true
  onClose=(action on-close)
  targetAttachment="bottom right"
}}
  <ul class="z-10 mt-2 text-xs bg-white rounded shadow-md">
    {{#each sortedVersions as |version|}}
      <li data-test-id="version">
        <a
          href="#"
          class={{concat
            "text-black no-underline flex items-center
            px-4 py-3 hover:bg-primary hover:text-white group "
            (if (eq version sortedVersions.firstObject) "rounded-t")
            (if (eq version sortedVersions.lastObject) "rounded-b")
          }}
          {{action "changeVersion" version}}
        >
          <span class="flex w-6">
            {{#if (eq version.key currentVersion.key)}}
              {{svg-jar "check" height=16 width=16}}
            {{/if}}
          </span>
          <span class="font-medium">
            {{version.name}}
          </span>
          <span
            class="flex items-center pl-8 ml-auto opacity-50 group-hover:opacity-100"
          >
            {{#if
              (or
                (eq version.key latestVersionName)
                (eq version.key primaryBranch)
              )
            }}
              {{svg-jar (if version.tag "git-tag" "git-sha") height=16 width=16
              }}
            {{else}}
              {{svg-jar "git-sha" height=16 width=16}}
            {{/if}}
            <span class="pl-1 font-mono text-2xs">
              {{#if
                (or
                  (eq version.key latestVersionName)
                  (eq version.key primaryBranch)
                )
              }}
                {{#if version.tag}}
                  {{version.tag}}
                {{else}}
                  {{version.truncatedSha}}
                {{/if}}
              {{else}}
                {{version.truncatedSha}}
              {{/if}}
            </span>
          </span>
        </a>
      </li>
    {{/each}}
  </ul>
{{/modal-dialog}}