<nav
  class="mr-auto m:hidden AddonDocs-DocsViewer-CurrentPageIndex om:block flex-no-shrink"
  data-test-current-page-index
>
  <div class="sticky top-0 max-h-screen pt-4 pb-8 pr-8 overflow-y-scroll">
    <ul class="pl-6 leading-normal border-l border-gray-1">
      {{#if pageIndex.length}}
        <li class="mt-12 font-bold tracking-wide uppercase text-gray text-2xs">
          On This Page
        </li>
      {{/if}}
      {{#each pageIndex as |item|}}
        <li
          class="leading-tight tracking-tight
            {{if item.indent (concat "ml-" item.indent)}}

            {{if item.marginTop (concat "mt-" item.marginTop)}}

            {{if item.marginBottom (concat "mt-" item.marginBottom)}}"
          data-test-index-item
        >
          <a
            href="#{{item.id}}"
            class="text-gray-5 font-semibold no-underline hover:underline text-
              {{item.size}}"
          >
            {{item.text}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>