<div class="mb-8" ...attributes>
  {{yield
    (hash
      example=(component "docs-demo/x-example")
      snippet=(component
        "docs-demo/x-snippet"
        did-init=(action "registerSnippet")
        activeSnippet=activeSnippet
      )
    )
  }}
  <div class="relative rounded bg-code-base">
    {{#if (and this.snippets (gt this.snippets.length 1))}}
      <nav class="px-4 py-2 space-x-4 font-medium demo__snippets-nav">
        {{#each this.snippets as |snippet|}}
          <button
            class={{class
              "p-2 text-sm no-underline outline-none hover:text-white focus:shadow-outline-white focus:outline-none rounded"
              (if snippet.isActive "text-white" "text-secondary")
            }}
            {{action "selectSnippet" snippet}}
          >
            {{snippet.label}}
          </button>
        {{/each}}
      </nav>
    {{/if}}
    {{#each this.snippets as |snippet|}}
      {{#if snippet.isActive}}
        <div class="demo__snippet-wrapper">
          {{docs-snippet
            name=snippet.name
            unindent=true
            language=snippet.language
          }}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>