<div class="rounded border border-gray-1 my-8 {{class}}">
  {{yield
    (hash
      example=(component "docs-demo/x-example")
      snippet=(component
        "docs-demo/x-snippet"
        did-init=(action "registerSnippet")
        activeSnippet=activeSnippet
      )
    )
  }}
  <div>
    {{#if (and snippets (gt snippets.length 1))}}
      <nav
        class="px-4 py-2 font-medium tracking-tight bg-black border-b demo__snippets-nav border-gray-8"
      >
        {{#each snippets as |snippet|}}
          <button
            class="mr-4 text-xs no-underline outline-none
              hover:text-gray-1
              {{if snippet.isActive "text-gray-1" "text-gray-5"}}"
            {{action "selectSnippet" snippet}}
          >
            {{snippet.label}}
          </button>
        {{/each}}
      </nav>
    {{/if}}
    {{#each snippets as |snippet|}}
      {{#if snippet.isActive}}
        <div class="rounded-b demo__snippet-wrapper bg-code-base">
          {{docs-snippet
            name=snippet.name
            unindent=true
            language=snippet.language
          }}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>