<li
  class="{{if (eq style "regular") "mt-8 capitalize"}}

    {{if (eq style "large") "mt-8 -mb-4 text-xs uppercase"}}

    {{if (eq style "subsection") "mt-2 text-sm"}}"
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</li>