{{#if href}}
  <a
    href={{href}}
    class="px-4 transition uppercase text-2xs font-bold
      text-body no-underline hover:text-primary
      {{if push "ml-auto"}}"
    data-test-id={{data-test-id}}
  >
    {{yield}}
  </a>
{{else if on-click}}
  <a
    href="#"
    class="px-4 transition uppercase text-2xs font-bold
      text-body no-underline hover:text-primary
      {{if push "ml-auto"}}"
    data-test-id={{data-test-id}}
    {{action on-click}}
  >
    {{yield}}
  </a>
{{else}}
  {{#link-to
    route
    class=(concat
      "px-4 transition uppercase text-2xs
      font-bold no-underline "
      (if
        (not (eq route "index"))
        (if isActive "text-primary" "text-body hover:text-primary")
        "text-body"
      )
    )
    data-test-id=data-test-id
  }}
    {{yield}}
  {{/link-to}}
{{/if}}