<div class="bg-primary text-white px-4 py-16 text-center {{class}}">
  <div class="max-w-sm mx-auto">
    <h1
      class="font-normal leading-none tracking-tight font-title text-jumbo-1 om:text-jumbo-2 xl:text-jumbo-3"
    >
      {{#if prefix}}
        <span class="block text-large-5 om:text-large-6 xl:text-large-7">
          {{prefix}}
        </span>
      {{/if}}
      {{heading}}
    </h1>
    <p
      class="mx-auto mt-4 mb-2 tracking-tight xl:mt-6 leading-small text-large-1 om:text-large-2 xl:text-large-3"
    >
      {{byline}}
    </p>
    <div class="mt-8">
      {{#link-to
        "docs"
        class="inline-block px-3 py-2 mt-4 text-xs font-bold no-underline uppercase transition bg-white rounded shadow-md text-primary hover:shadow-lg hover:nudge-t"
      }}
        Read the docs
      {{/link-to}}
    </div>
    {{yield}}
  </div>
</div>