<div
  class={{class "bg-primary text-white px-4 py-16 text-center"}}
  ...attributes
>
  <div class="max-w-xl mx-auto">
    <h1 class="font-medium leading-none">
      {{#if @prefix}}
        <div class="m:text-xl t:text-2xl ot:text-3xl">
          {{@prefix}}
        </div>
      {{/if}}
      <div class="my-4 text-6xl font-kiro">
        {{@heading}}
      </div>
    </h1>
    <p class="mx-auto mb-2 leading-small">
      {{@byline}}
    </p>
    <div class="mt-8">
      <Button @route={{link route="docs"}} @text="Read the docs" />
    </div>
    {{yield}}
  </div>
</div>