{{#if title}}
  <div
    class="px-4 py-2 text-xs subpixel-antialiased font-medium bg-black border-b rounded-t text-gray-1 border-gray-8"
  >
    {{title}}
  </div>
{{/if}}
<div
  class={{class
    "text-xs px-2 py-1 bg-code-base subpixel-antialiased"
    (if title "rounded-b" "rounded")
  }}
  data-test-id={{or data-test-id name}}
>
  {{#with (get-code-snippet name unindent=unindent) as |snippet|}}
    {{#if showCopy}}
      {{#copy-button
        clipboardText=snippet.source
        title="copy to clipboard"
        class="absolute p-2 text-white bg-transparent border-none rounded opacity-50 top-2 right-4 hover:bg-transparent hover:opacity-100 focus:shadow-outline-white focus:outline-none"
      }}
        Copy
      {{/copy-button}}
    {{/if}}
    <DocsCodeHighlight @language={{language}}>
      {{snippet.source}}
    </DocsCodeHighlight>
  {{/with}}
</div>